{% extends 'base.html.twig' %}

{% block title %}Hi{% endblock %}

{% block body %}
    <section class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-cover bg-left"
             style="max-width:1600px; height: 32rem; background-image: url('https://images.unsplash.com/photo-1548025396-689d647d00c5?q=80&w=2934&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
        <div class="container mx-auto">
            <div class="flex flex-col w-full lg:w-1/2 justify-center items-start px-6 tracking-wide md:filter-none">
                <h1 class="text-slate-100 text-5xl my-4">Biblios</h1>
                <h1 class="text-slate-100 text-4xl my-4">Catalogue en ligne de la médiathèque de
                    Trifouillis-les-Oies</h1>
                <a class="text-2xl text-slate-100 inline-block no-underline border-b border-gray-600 leading-relaxed hover:text-black hover:border-black"
                   href="#">Parcourez le catalogue</a>
            </div>
        </div>
    </section>
    <section class="prose bg-white py-8">

        <div class="container py-8 px-10 mx-auto">

            <a class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl mb-8"
               href="#">Biblios: qu'est-ce que c'est ?
            </a>

            <p class="mt-8 mb-8">Biblios est la plateforme officielle de consultation du catalogue de la médiathèque de
                Trifouillis-les-Oies. Explorez notre collection avec une recherche efficace, vérifiez la disponibilité
                des ouvrages en temps réel, et effectuez des réservations en toute simplicité. Biblios s'engage pour
                faciliter l'accès à la culture et promouvoir la richesse de notre patrimoine littéraire.
                <br>

            <h5 class="text-xl">Fonctionnalités clés :</h5>
            <ul class="list-outside">
                <li class=""> Recherche avancée de livres</li>
                <li> Consultation en temps réel du statut des ouvrages (disponible, emprunté, indisponible)</li>
                <li> Affichage détaillé des informations sur les livres</li>
                <li> Processus de réservation simplifié</li>
            </ul>

        </div>

    </section>
{% endblock %}